name: Dev Pipeline by Farhan
on:
  push:
    branches: ['develop']
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and Push
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/uni-dept-website:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/uni-dept-website:latest
      - name: Trigger Render
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}